<a href="https://colab.research.google.com/github/LokeCoder11/Projects/blob/main/Project_PyMySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is connect 2 different langauage -1.Python & 2.SQL
#Solution - Python library PYMYSQL to connect Python to mySQL

#Before making a connection we have to understand that PYMYSQL LIBRARY is present.

#1ST for configering NEED TO know:
1. Host
2. IP address of Database == which server you database is running
3. Port
4. Which database u want to use
5. Password for connecting to database

# 2nd - from terminal install pyMySQL with:
pip install pymys

# 3rd - in cell - import pymysql

# 4th - Connect - follow below steps

#a. CONNECT METHOD

conn= pymysql.connect(
      host = 'localhost'
      user = 'root'
      password = "123xyz"
      db = 'moviedatabase'
)

#b. CURSOR METHOD
cur = conn.cursor()
#if you database property is correct, then it will start pointing to database, select with cursor.

#c. Execute Method
1.We execute query through python and should be able to see output

str1 = "select @@version;" #this we get inside our sql
cur.execute(str1)

#d. fetchall Method
1. for fetch output from cursor method, we use 'fetchall' method.
output = cur.fetchall()

#e. print(output)

#list of things to do
1. create table
2. insert the data
3. update table
4. delete table data on 1 condition

In [1]:
#create table

conn=pymysql.connect(add connection details)

cur = conn.cursor()

create_table_queue = "create table moviedatabase.student (
id varchar(20),
Student_name varchar(20),
marks varchar(6),
grade varchar(10) "

cur.execute(create_table_query)

conn.commit()

conn.close()

SyntaxError: invalid syntax (<ipython-input-1-70ccc77c3a91>, line 3)

In [ ]:
#dynamic_query and dynamic table creation as a user defined function

#1st import pymysql and create connection with cursor command

import pymysql

def get_dynamic_query():

    dynamic_query = "create table"
    get_table_name = input("enter the table name")

    dynamic_query = dynamic_query + get_table_name "("
    print(dynamic_query)
    get_table_count = int(input("enter total number of columns u want to create"))
    for i in range (get_table_count):
        get_column_name = input("enter the column name ")
        get_column_type = input("enter the column type ")
        dynamic_query = dynamic_query + " " + get_column_name + " " + get_column_type + ","
    print(dynamic_query)
    dynamic_query = dynamic_query.rstrip(",")
    dynamic_query = dynamic_query + ")"
    return(dynamic_query)

conn= pymysql.connect(
      host = 'localhost'
      user = 'root'
      password = "123xyz"
      db = 'moviedatabase'
)

cur = conn.cursor()
dynamic_query = get_dynamic_query()
cur.execute(dynamic_query)

    print("table created successfully to the selected database")

    conn.commit()

    conn.close()

In [ ]:
#insert row information by hard commit static method

import pymysql

conn= pymysql.connect(
      host = 'localhost'
      user = 'root'
      password = "123xyz"
      db = 'moviedatabase'
)

cur = conn.cursor()

sql = "INSERT INTO 'film_text' ('film_id', 'title', 'description') VALUES(1007, 'Aag', 'action movie')"

cur.execute(sql)

print("new data inserted successfully to the selected database")

conn.commit()

conn.close()

In [ ]:
#insert row information by dynamic method


import pymysql

conn= pymysql.connect(
      host = 'localhost'
      user = 'root'
      password = "123xyz"
      db = 'moviedatabase'
)

cur = conn.cursor()

get_film_id = int(input("enter the film id: "))
get_film_title = input("enter the film name: ")
get_film_desc = input("enter the film description: ")

get_query = "INSERT INTO 'film_text' ('film_id','title','description') VALUES(%s,%s,%s)" #%s is placeholder for input to be provided

cur.execute(get_query,(get_film_id, get_title, get_desc))

conn.commit()

In [ ]:
#To Delete

sql = "DELETE from film_text WHERE film_id='10';"
cor.execute(sql)
conn.commit()
conn.close()

In [ ]:
#To Update

sql = "UPDATE film_text SET title = 'NewMovie' where film_id='101';"
cor.execute(sql)
conn.commit()
conn.close()